---
import Layout from "../layouts/Layout.astro";

import Hero from "../components/Hero.vue";

import BenefitsSection from "../sections/home/BenefitsSection.vue";
import CTASection from "../sections/home/CTASection.vue";
import FeaturesSection from "../sections/home/FeaturesSection.vue";
---

<Layout title="Hero Landing Page">
	<main>
		<Hero client:load />
		<FeaturesSection client:visible />
		<BenefitsSection client:visible />
		<CTASection client:visible />
	</main>
</Layout>
